$bg-colors: () !default;
$bg-colors: map-merge($bg-colors, $grays);
$bg-colors: map-merge($bg-colors, $colors);
$bg-colors: map-merge($bg-colors, $theme-colors);

@each $color, $value in $bg-colors {
  @include bg-variant(".bg-#{$color}", $value);

  @include bg-variant(".bg-#{$color}-0", rgba($value, 0));

  @each $size, $length in $sizes {
    @if type-of($size) == 'number' {
      @include bg-variant(".bg-#{$color}-#{$size}", rgba($value, $size / 100));
    }
  }
}
