@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    // Borders

    @if $infix != "" {
      .border#{$infix} {
        border: $border-width solid $border-color !important;
      }
      .border#{$infix}-0 {
        border: 0 !important;
      }

      @each $prop in (top, right, bottom, left) {
        .border-#{$prop}#{$infix} {
          border-#{$prop}: $border-width solid $border-color !important;
        }
        .border-#{$prop}#{$infix}-0 {
          border-#{$prop}: 0 !important;
        }
      }
    }

    // Border radius

    @each $size, $length in (0: 0, 1: $border-radius-sm, 2: $border-radius, 3: $border-radius-lg, max: 9999px) {
      .br#{$infix}-#{$size} {
        border-radius: $length;
      }

      .brt#{$infix}-#{$size} {
        border-top-left-radius: $length;
        border-top-right-radius: $length;
      }
      .bre#{$infix}-#{$size} {
        border-top-right-radius: $length;
        border-bottom-right-radius: $length;
      }
      .brb#{$infix}-#{$size} {
        border-bottom-right-radius: $length;
        border-bottom-left-radius: $length;
      }
      .brs#{$infix}-#{$size} {
        border-bottom-left-radius: $length;
        border-top-left-radius: $length;
      }
    }
  }
}

.border-body-emphasis {
  border-color: RGBA(var(--#{$prefix}emphasis-color-rgb), var(--#{$prefix}link-opacity, 1)) if($enable-important-utilities, !important, null);
}

.border-body-secondary {
  border-color: rgba(var(--#{$prefix}bs-secondary-bg-rgb), var(--#{$prefix}bs-bg-opacity)) !important;
}
