pre {
  background-color: $code-bg;
  padding: .75rem 1rem !important;

  :not(li) > &:last-child {
    margin-bottom: 0 !important;
  }
}
.pre-card,
:not(.pre-card) > pre {
  @extend .shadow-sm;
}
.pre-card {
  margin-bottom: 1rem;
}

// Expand code blocks at small screen sizes
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $size, $length in $spacers {
      .container#{$infix}.px-#{$size} #contents > pre,
      .container#{$infix}.px-#{$size} #contents > .pre-card, {
        margin-left: -$length;
        margin-right: -$length;
      }
    }
  }
}

:not(pre) {
  & > code {
    background-color: $code-bg;
    margin: .125rem;
    padding: .125rem .25rem;
  }
  & > a > code {
    color: $code-color;
    text-decoration: underline;
    //box-shadow: inset 0 -1px 0 0 mix($code-bg, $code-color, 50%);
  }
}
