pre {
  background-color: $code-bg;
  padding: .75rem 1rem;

  &:last-child {
    margin-bottom: 0 !important;
  }
}

:not(pre) {
  & > code {
    background-color: $code-bg;
    margin: .125rem;
    padding: .125rem .25rem;
  }
  & > a > code {
    //color: lighten($link-color, 2.5%);
    //@include hover {
    //  color: lighten($link-hover-color, 2.5%);
    //}
  }
}
