pre {
  background-color: $code-bg;
  // border: 1px solid darken($code-bg, 1%);
  @extend .shadow-sm;
  padding: .75rem 1rem;

  :not(li) > &:last-child {
    margin-bottom: 0 !important;
  }
}

// Expand code blocks at small screen sizes
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $size, $length in $spacers {
      .container#{$infix}.px-#{$size} #contents > pre {
        margin-left: -$length;
        margin-right: -$length;
      }
    }
  }
}

:not(pre) {
  & > code {
    background-color: $code-bg;
    margin: .125rem;
    padding: .125rem .25rem;
  }
  & > a > code {
    color: $code-color;
    text-decoration: underline;
    //box-shadow: inset 0 -1px 0 0 mix($code-bg, $code-color, 50%);
  }
}
