// https://highlightjs.readthedocs.io/en/latest/css-classes-reference.html

$hljs-color: $code-color;

.hljs-attribute,
.hljs-keyword,
.hljs-meta,
.hljs-name,
.hljs-selector-tag,
.hljs-strong,
.hljs-title {
  font-weight: $font-weight-bold;
}

.hljs-comment,
.hljs-emphasis {
  font-style: italic;
}

.hljs-params {}

.hljs-comment {
  color: lighten($hljs-color, 25%);
}

// highlight.js styling based on the Nord Frost palette (https://www.nordtheme.com/docs/colors-and-palettes)

.hljs-attr,
.hljs-attribute,
.hljs-keyword,
.hljs-meta,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-title {
  color: darken(#5e81ac, 25%);

  // The gross majority of YAML is attr/attribute, so leave it the default color
  @at-root #{selector-nest(".language-yaml", &)} {
    color: $hljs-color;
  }
}

.hljs-bullet,
.hljs-selector-class,
.hljs-selector-pseudo {
  color: darken(#81a1c1, 25%);
}

.hljs-number {
  color: darken(#88c0d0, 25%);
}

.hljs-string {
  color: darken(#8fbcbb, 25%);
}
