.markdown {
  h1, .h1 {
    margin-top: $h1-font-size;
  }
  h2, .h2 {
    margin-top: $h2-font-size;
  }
  h3, .h3 {
    margin-top: $h3-font-size;
  }
  h4, .h4 {
    margin-top: $h4-font-size;
  }
  h5, .h5 {
    margin-top: $h5-font-size;
  }
  h6, .h6 {
    margin-top: $h6-font-size;
  }

  h1, h2,
  .h1, .h2 {
    padding-bottom: $headings-margin-bottom/2;
    border-bottom: $border-width*2 solid lighten(if($headings-color, $headings-color, $body-color), 35%);
  }

  blockquote {
    padding: $spacer/2 $spacer;
    border-left: $border-width*4 solid lighten(if($headings-color, $headings-color, $body-color), 35%);
  }
}
