<div>
    {{#each data}}
        <div class="row g-0">
            {{>blog_card data=this blog_tags=../blog_tags excerpt=true horizontal=true}}
        </div>

        {{#unless @last}}
            <hr class="my-4 my-md-5">
        {{/unless}}
    {{/each}}
</div>
